<a href="https://colab.research.google.com/github/Samuel-Wamwitha/IP-Week-4/blob/master/IP_Week_4_09_2020_Samuel_Wamwitha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Overview

In this week's independent project, you will be working as a data scientist working for an electric car-sharing service company. You have been tasked to process stations data to understand electric car usage over time by solving for the following research question;

Research Question

- Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

Bonus Questions (Optional)

- What is the most popular hour for returning cars?
- What station is the most popular?
 - Overall?
 - At the most popular picking hour?
- What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
 - Overall?
 - At the most popular picking hour?
- Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

# Import our libraries.

In [1]:
#Imports Pandas library
import pandas as pd

#Imports Numpy library
import numpy as np

# Loading our dataset

In [2]:
#The following line of codes loads the autolib dataset that will be used for analysis.
autolib = pd.read_csv('/content/Autolib_dataset (2).csv')
autolib

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

# Previewing the dataset

In [3]:
#The following line of code previews the autolib dataset.
autolib.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

# Finding missing data.

In [4]:
#The following line of code displays the count of non-missing values.
autolib.count()

Address                5000
Cars                   5000
Bluecar counter        5000
Utilib counter         5000
Utilib 1.4 counter     5000
Charge Slots           5000
Charging Status        5000
City                   5000
Displayed comment       111
ID                     5000
Kind                   5000
Geo point              5000
Postal code            5000
Public name            5000
Rental status          5000
Scheduled at             47
Slots                  5000
Station type           5000
Status                 5000
Subscription status    5000
year                   5000
month                  5000
day                    5000
hour                   5000
minute                 5000
dtype: int64

# Accessing information about the dataset.

In [5]:
#The following line of code gives information about the dataset autolib.
autolib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

# Completeness

It involves finding null values and duplicates to make the data complete.

In [6]:
#Data cleaning action: Missing values
#Explanation: The following lines of code checks for missing values.
autolib.isnull()

autolib.isnull().any()

autolib.isnull().sum()

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [7]:
#The following line of code shows the sum of duplicated items in the dataset. 
autolib.duplicated().sum()

0

# Validity

Involves cleaning data to ensure it is valid.

In [8]:
#Data cleaning action: Dropping columns
#Explanation: The following line of code drops irrelevant columns that do not have any use in our analysis.

autolib.drop(["Displayed comment", "Scheduled at"], axis = 1, inplace = True)
autolib

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 23 columns]

# Analysis

Research Question

- Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [9]:
#The following lines of code finds the most popular hour of the day for picking up a shared electric blue car in Paris. 

popular_hour = autolib['Bluecar counter'].groupby([autolib['hour'], autolib['City'] == 'Paris']).count()
popular_hour

hour  City
0     False     84
      True     110
1     False     89
      True     105
2     False     95
      True     123
3     False     93
      True     125
4     False     87
      True     112
5     False     94
      True     117
6     False     95
      True     124
7     False     98
      True     121
8     False     83
      True     128
9     False     99
      True     122
10    False     73
      True     121
11    False    103
      True     107
12    False     80
      True     120
13    False     99
      True     114
14    False    100
      True     107
15    False     89
      True     111
16    False     92
      True     128
17    False     82
      True     116
18    False     99
      True     111
19    False     94
      True     114
20    False     91
      True     111
21    False     90
      True     147
22    False     90
      True     106
23    False     85
      True     116
Name: Bluecar counter, dtype: int64

Bonus Question

What station is the most popular?
- Overall?
- At the most popular picking hour?

In [10]:
#The following lines of code find the most popular station that rented cars.

station = autolib['Cars'].groupby(autolib['Public name']).count()
station.sort_values(ascending=False)

Public name
Paris/Porte de Montrouge/8    13
Paris/Courcelles/69           11
SÃ¨vres/WolfenbÃ¼ttel/1       11
Paris/Voltaire/182            11
Paris/Grenelle 31/Parking     11
                              ..
Paris/Lecourbe/336             1
Paris/Porte Pouchet/6          1
Meudon/Ponceau/2               1
Paris/Pirogues de Bercy/44     1
Paris/Jean Veber/3             1
Name: Cars, Length: 1105, dtype: int64